<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/_admin_layout :: layout(title='Admin - Productos', pageContent=~{::pageContent}, includeChartJS_=false)}">

<th:block th:fragment="pageContent">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Gestión de Productos</h1>
        <!-- Contenido para el Desarrollador 3 -->
        <p>Esta página contendrá la lista y gestión de todos los productos.</p>
    </div>
</th:block>

</html>
